<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Official NuGet source -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    
    <!-- Local feed if you create one -->
    <!-- <add key="Local Feed" value="C:\LocalNuGetFeed" /> -->
  </packageSources>
  
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  
  <packageManagement>
    <add key="format" value="0" />
    <add key="disabled" value="False" />
  </packageManagement>
  
  <!-- Offline mode configuration -->
  <config>
    <add key="globalPackagesFolder" value="%USERPROFILE%\.nuget\packages" />
    <add key="maxHttpRequestsPerSource" value="3" />
    <add key="signatureValidationMode" value="accept" />
  </config>
</configuration>